  
<head>
  
  <title>ZUP_마이페이지</title>
    <!-- Text encoded as UTF-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
  <!-- bootstrap -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" id="default">
  <link href="/stylesheets/css/mypage.css" rel="stylesheet" id="default">
</head>

<!-- body 시작 -->
  <body class="bootstrap"  >
    
      
      <div class="container">
      
        <div class="col-md-12"> 
            
          <div class="panel panel-default panel-fade">
          
            <div class="panel-heading">
             
              <span class="panel-title">
              
                <div class="pull-left">
                
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#point" data-toggle="tab"><i class="glyphicon glyphicon-print"></i> 회수내역 및 적립금 관리</a></li>
                  <li><a href="#modify" data-toggle="tab"><i class="glyphicon glyphicon-send"></i> 나의 정보수정</a></li>
                </ul>
                  
                </div>
                
                <div class="btn-group pull-right">
                  <div class="btn-group">
                    <a href="#" class="btn  dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action 1</a></li>
                      <li><a href="#">Action 2</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Another Action</a></li>
                    </ul>
                  </div>
                </div>

                <div class="clearfix"></div>

              </span>
              
            </div>

            <div class="panel-body">
                        
                                
              <div class="tab-content">
              
              
              
            

    
               <div class="tab-pane fade in active" id="point">
                 <FORM ACTION="" METHOD="post">
                  <INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
                  
         <!-- 사이드 메뉴 -->      
          <div class="col-md-2 sidebar">
           <div class="row">
            <div class="absolute-wrapper"> </div>
             <div class="side-menu">
              <div class="side-menu-container">
               
               <!-- 프로필 -->
               <div class="col-md-12">
                  <div class="panel panel-danger panel-pricing">
                  
                     <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                            <h3 style="text-align:center"><%= user[0].user_name %>님</h3>
                     </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>현재 적립금 <br /><strong> $<%= user[0].zupmoney %></strong></li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 은행명 : <strong><%= user[0].user_bankname %></strong></li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 계좌번호 <br /> <strong><%= user[0].user_banknum %></strong></li>
                        </ul>
                        <div class="panel-footer">
                            <input type="TEXT" class="form-control" id="withdrawal_amount" name="withdrawal_amount" placeholder="환전 금액 입력"> <br>
                            <div id="display" style="padding-bottom: 20px;"></div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#withdrawal_money" style="margin-left:15px;" id="moneychangeBTN">현금 환전</button>
                        </div>


                        
                        
       <!-- Modal -->
       <div id="withdrawal_money" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">×</button>
             <h4 class="modal-title">적립금 환전</h4>
            </div>
            
          <div class="modal-body">
          <div class="form-group col-md-8">
              <label for="withdrawal_money">현금으로 환전할 금액 : <span id='money'></span>원</label> <br/>
              <label for="user_bank">은행명 : <%= user[0].user_bankname %></label> <br/>
              <label for="user_bankNum">계좌번호 : <%= user[0].user_banknum %></label> <br/><br/><br/>
              
              <p>출금하시겠습니까???</p>
          </div>
          </div>
          <div class="modal-footer" style="margin-top: 120px;">
           <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          </div>
         </div>

       </div>
      </div>
      <!-- /Modal -->  
                    </div>
                </div>
          <!-- /프로필 -->
      </div>
     </div>
    </div>
   </div>
<!-- /사이드 메뉴 -->
                  
                  
<!-- 회수 내역 및 적립금 테이블 생성 -->
  <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-filter" data-target="all">ALL</button>
                <button type="button" class="btn btn-success btn-filter" data-target="사용">사용</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="적립">적립</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="대기">대기</button>
                
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <% log.forEach(function(item, index){%>
                  <tr data-status="<%=log[index].logtype%>">
                    <td>
                      <div class="ckbox">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>
                    <a href="javascript:;" class="star">
                        <i class="glyphicon glyphicon-star"></i>
                      </a>
                    </td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right"><button type="submit" class="btn btn-default" id="deletepointBTN">내역삭제</button></span>
                          <h4 class="title">
                            <%=log[index].logtype%>
                            <span class="pull-right use"><%=log[index].logdata%></span>
                          </h4>
                          <p class="summary"><%= log[index].status %> : 
                          <% if(log[index].content != '회수예정'){%>
                          <%= log[index].content %>
                          <%} else {%>
                          <%= log[index].content%>
                          <%}%>
                          </p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <%});%>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
<!-- /회수 내역 및 적립금 테이블 생성 -->  
                </FORM>
                </div>
                
                
        <!-- 나의 정보수정 -->      
        <div class="tab-pane fade" id="modify">
                  <INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
                  <article class="container">

        <div class="col-md-6 col-md-offset-3">
          <form role="form" METHOD="post">
            <input type="hidden" name="user_num" value="2">
            <div class="form-group col-md-12">
              <label for="user_pw1">비밀번호</label>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" value='<%= user[0].user_pw %>'>
            </div>
            <div class="form-group col-md-12">
              <label for="user_pw2">비밀번호 확인</label>
              <input type="password" class="form-control" id="inputPassword2"  name="inputPassword2" value="<%= user[0].user_pw %>">
              <p class="help-block">비밀번호 확인을 위해 다시한번 입력 해 주세요</p>
            </div>
            <div class="form-group col-md-12">
              <label for="user_email">이메일</label>
              <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="<%= user[0].user_email %>">
            </div>
            <div class="form-group col-md-8">
              <label for="user_address">주소</label>
              <input type="text" class="form-control" id="address_base" name="address_base" value="<%= user[0].user_address %>">
            </div>
            <div class="form-group col-md-4" style="padding-top: 25px;">
             <button type="submit" class="btn btn-default">주소찾기<i class="fa fa-check spaceLeft"></i></button>
            </div>  
            <div class="form-group col-md-12">
              <input type="text" class="form-control" id="address_detail" name="address_detail" placeholder="상세주소 커몬">
            </div>
            <div class="form-group col-md-12">
              <label for="user_phoneNum">핸드폰 번호</label>
              <input type="text" class="form-control" id="inputNumber" name="inputNumber" value='<%= user[0].user_phonenum %>'>
            </div>
            <div class="form-group col-md-12">
              <label for="user_bank">은행명</label>
              <select class="form-control col-md-12" id="inputBank" name="inputBank">
                                <option value='신한은행'>신한은행</option>
                                <option value='국민은행'>국민은행</option>
                                <option value='하나은행'>하나은행</option>
                            </select>
            </div>
            <div class="form-group col-md-12">
              <label for="user_bankNum">계좌번호</label>
              <input type="text" class="form-control" id="inputAccount" name="inputAccount" value="<%= user[0].user_banknum %>">
            </div>
         
            <div class="form-group text-center col-md-12">
              <button type="submit" class="btn btn-default">수정완료<i class="fa fa-check spaceLeft"></i></button>
              <button type="button" class="btn btn-default">수정취소<i class="fa fa-times spaceLeft"></i></button>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dropMember">회원탈퇴<i class="fa fa-times spaceLeft"></i></button>
            </div>
             </form>
      <!-- Modal -->
      <div id="dropMember" class="modal fade" role="dialog">
       <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">×</button>
           <h4 class="modal-title">회원 탈퇴</h4>
          </div>
          <form action="/drop" method="get" >
          <div class="modal-body">
           <p>정말로 탈퇴하시겠습니까?</p>
        
            <div class="form-group col-md-8">
              <label for="user_pw1">비밀번호</label>
              <input type="password" class="form-control" id="user_pw1" name="user_pw1" placeholder="숫자, 문자포함 6~12자리">
              <div id="passwd_display" style="color: RED"></div>
            </div>
            <div class="form-group col-md-8">
              <label for="user_pw2">비밀번호 확인</label>
              <input type="password" class="form-control" id="user_pw2" name="user_pw2" placeholder="비밀번호를 한번 더 입력해주세요.">
              <div id="passwdCheck_display" style="color: RED"></div>
            </div>
         </div>
         <div class="modal-footer" style="margin-top: 150px;">
           <button type="button" class="btn btn-default" data-dismiss="modal" >확인</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
         </div>
         </form>
       </div>

     </div>
    </div> 
    <!-- /Modal --> 
       
          <hr>
        </div>
      </article>
                </div>
    <!-- /나의 정보수정 --> 
    
              </div>
              
            </div>

          </div>
            
        </div>
            
      </div>
      

      
      <footer>
      
        <!--#INCLUDE VIRTUAL="FooterInclude.asp"--> 
        
        <script src="https://code.jquery.com/jquery-1.9.1.js" ></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
        <script src="/stylesheets/js/mypage.js"></script>
        
        <script>
$('a.btn.btn-default').hover(function(e) {
$('a.btn.dropdown-toggle').trigger(e.type);
})

var user_pw1 = $('#user_pw1').val();
        </script>
        
                
        <script type="text/javascript">
        $(".display-fade").delay(25).animate({"opacity": "1"}, 800);
        $(".table-fade").delay(25).animate({"opacity": "1"}, 800);
        </script>
        
        <script type="text/javascript">
        var def="black";
        function showNotification(color)
        {
          $( "#notification" ).removeClass(def);
          $( "#notification" ).addClass(color);
          def=color;
          $( "#notification" ).fadeIn( "slow" );
          //alert('hi');
          $(".win8-notif-button").click(function()
          {
          //alert('hi');
          $(".notification").fadeOut("slow");
          });
        
        }
        
  $(function() {
          
          $('#moneychangeBTN').on('click', function() {
            var change_zupmoney = $('#withdrawal_amount').val();
            $('#money').html(change_zupmoney);
          
          });
          
        });
  
  //은행 표시 하기
  $('#inputBank').val('<%=user[0].user_bankname%>');
  
        </script>
        
        
        <!-- 유효성 검사 -->
  <script type="text/javascript">


  $(function() {
    
    $('#moneychangeBTN').on('click', function() {
       if($("#withdrawal_amount").val() === ""){
            alert("금액을 입력해주세요.");
            return false;
          }
    
    });
    
  });
            //실시간 이벤트 처리
      var withdrawal_amount = document.getElementById("withdrawal_amount");
      withdrawal_amount.onkeyup = function() {
        valid_withdrawal_amount(withdrawal_amount);
      }

      // 계좌 번호 유효성 검사
       function valid_withdrawal_amount(withdrawal_amount) {
                // 계좌번호 정규표현식 숫자만 입력 가능
        re = /^[0-9]*$/;

        if (!re.test(withdrawal_amount.value)) {
          $("#display").html("숫자만 입력해주세요.");
          return false;
        } else {
          $("#display").html("출금가능합니다.");
          return true;
        }
      } 
      
    var pw = document.getElementById("user_pw1");
		var pwCheck = document.getElementById("user_pw2");
		pwCheck.onkeyup = function() {
			valid_passwdCheck(pw, pwCheck);
		}
   
		// 비밀번호가 동일한지 검사
		function valid_passwdCheck(pw, pwCheck) {

			if (pw.value != pwCheck.value) {
				$("#passwdCheck_display").html("Password가 서로 다릅니다.");
				return false;
			} else {
				$("#passwdCheck_display").html("Password가 동일합니다..");
				return true;
			}
		}   
      
</script>
        
      </footer>

    </body>
    
