<<<<<<< HEAD
<% include header.ejs %>
=======
 <% include header.ejs %>
>>>>>>> branch 'master' of https://github.com/skykosta/final-project.git

<div class="container" style="text-align: center; margin-bottom: 50px">
  <%if(userid=="admin"){%>
  <button type="button" class="btn icon-btn btn-success" data-toggle="modal"
    data-target="#noticeadd">
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>공지사항등록
  </button>
  <%}%> <a class="btn icon-btn btn-info" href="notice"><span
    class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>공지사항</a> <a
    class="btn icon-btn btn-warning" href="fnq"><span
    class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>자주묻는 질문</a>
<<<<<<< HEAD
  <a class="btn icon-btn btn-danger" href="contact"><span
    class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>contact
    us</a>
</div>
=======
  <a class="btn icon-btn btn-danger" href="total"><span
    class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>contact
    us</a>
</div>
<style>
thead
	{
     background-color: #333;
    color: #66ef46;
	}
.modal-title
	{
	width: 100%;
	}
</style>
<div class="container">
  <!-- Article Add Modal -->
  <div class="modal fade" id="noticeadd" role="dialog">
    <div class="modal-dialog">
>>>>>>> branch 'master' of https://github.com/skykosta/final-project.git

<<<<<<< HEAD
<section id="contact" style="background-color: rgb(175, 207, 167); width: 90em; height:77em; margin-left: 12em; margin-top: -2em;">
<style>
thead
	{
     background-color: #333;
    color: #66ef46;
	}
.modal-title
	{
	width: 100%;
	}
</style>
<div class="container">
  <!-- Article Add Modal -->
  <div class="modal fade" id="noticeadd" role="dialog">
    <div class="modal-dialog">

=======
>>>>>>> branch 'master' of https://github.com/skykosta/final-project.git
      <!-- Article Add Modal content-->
      <form method="post">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>공지사항등록</h3>
            <input type="text" class="modal-title" name="title" placeholder="제목을 입력해주세요">
          </div>
          <div class="modal-body">
            <textarea class="modal-title" name="content" placeholder="내용을 입력해주세요"
              rows="10"></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">등록</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </form>
    </div>
  </div>
<<<<<<< HEAD
  
  
     <div class="col-lg-12 text-center" style="margin-top: -7em;">
                    <h2 class="section-heading">notice</h2>
                    <h3 class="section-subheading text-muted" style="color: grey;">We makes better world _ ZUP</h3>
                </div>
  <table class="table table-hover" style="margin-top: -2em; background-color: white;">
    <thead style="background-color: rgb(254, 209, 54); opacity: 0.5">
      <tr style="color: black; opacity: 1.0">
        <th >NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(item, index){%>
      <tr data-toggle="modal" data-target="#myModal<%= index%>" data-backdrop="static"
        data-keyboard="false">
        <td><%= item.article_num%></td>
        <td><a href="#" style="color:#111;"><%= item.article_title%></a></td>
        <td><%= item.article_writer%></td>
        <td><%= moment(item.articledate).format('YYYY-MM-DD hh:mm:ss')%></td>
        <td><%= item.article_viewpoint%></td>

 <!-- Article Modal -->
  <div class="modal fade" id="myModal<%= index%>" role="dialog">
    <div class="modal-dialog">

      <!-- Article Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            onclick="location.href='noticecount?article_num=<%=item.article_num%>'">&times;</button>
          <h4 class="modal-title"><%=item.article_title %></h4>
        </div>
        <form method="post">
          <div class="modal-body">
            <pre class="modal-title"><%=item.article_content %></pre>
            <input type="hidden" name="article_num" value="<%=item.article_num%>">
            <%if(userid=="admin"){%>
            <button type="button" class="btn btn-primary"
              onclick="location.href='noticeedit?article_num=<%=item.article_num%>'">수정</button>
            <button type="button" class="btn btn-danger"
              onclick="location.href='noticedelete?article_num=<%=item.article_num%>'">삭제</button>
            <%}%>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
            onclick="location.href='noticecount?article_num=<%=item.article_num%>'">Close</button>
        </div>
      </div>
    </div>
  </div>
      </tr>
      <% });%>
        </tbody>
  </table>

      <tr style="margin: 0 auto;">
        <td colspan="12" style="text-align: center;"><% if (searchType ==""){%> <% if
          (pageCount > 1) { %>
          <ul class="pagination" style=" margin-top: -0.1em; margin-left: 32em;">
            <% if (currentPage > 1) { %>
            <li><a href="/notice?page=1">&laquo;</a></li> <% } %> <% var i = 1; if
            (currentPage > 5) { i = +currentPage - 4; } %> <% if (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i; i<=pageCount;
            i++) { %> <% if (currentPage == i) { %>
            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
            <li><a href="/notice?page=<%= i %>"><%= i %></a></li> <% } %> <% if (i ==
            (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
            (currentPage != pageCount) { %>
            <li><a href="/notice?page=<%= pageCount %>">&raquo;</a></li> <% } %>
          </ul> <% } %> <%}%> <% if (searchType !=""){ %> <% if (pageCount > 1) { %>
          <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li><a
              href="/notice?page=1&searchType=<%=searchType%>&value=<%=searchValue%>">&laquo;</a></li>
            <% } %> <% var i = 1; if (currentPage > 5) { i = +currentPage - 4; } %> <% if
            (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i; i<=pageCount;
            i++) { %> <% if (currentPage == i) { %>
            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
            <li><a
              href="/notice?page=<%= i %>&searchType=<%=searchType%>&value=<%=searchValue%>"><%=
                i %></a></li> <% } %> <% if (i == (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
            (currentPage != pageCount) { %>
            <li><a
              href="/notice?page=<%= pageCount %>&searchType=<%=searchType%>&value=<%=searchValue%>">&raquo;</a></li>
            <% } %>
          </ul> <% } %> <%}%>
        </td>
      </tr>
  <br>
  <br>
  <br>
  <br>
 
</div>
<% include footer.ejs %>
=======
  <table class="table table-hover">
    <thead>
      <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(item, index){%>
      <tr data-toggle="modal" data-target="#myModal<%= index%>" data-backdrop="static"
        data-keyboard="false">
        <td><%= item.article_num%></td>
        <td><a href="#" style="color:#111;"><%= item.article_title%></a></td>
        <td><%= item.article_writer%></td>
        <td><%= moment(item.articledate).format('YYYY-MM-DD hh:mm:ss')%></td>
        <td><%= item.article_viewpoint%></td>

 <!-- Article Modal -->
  <div class="modal fade" id="myModal<%= index%>" role="dialog">
    <div class="modal-dialog">

      <!-- Article Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            onclick="location.href='noticecount?article_num=<%=item.article_num%>'">&times;</button>
          <h4 class="modal-title"><%=item.article_title %></h4>
        </div>
        <form method="post">
          <div class="modal-body">
            <pre class="modal-title"><%=item.article_content %></pre>
            <input type="hidden" name="article_num" value="<%=item.article_num%>">
            <%if(userid=="admin"){%>
            <button type="button" class="btn btn-primary"
              onclick="location.href='noticeedit?article_num=<%=item.article_num%>'">수정</button>
            <button type="button" class="btn btn-danger"
              onclick="location.href='noticedelete?article_num=<%=item.article_num%>'">삭제</button>
            <%}%>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
            onclick="location.href='noticecount?article_num=<%=item.article_num%>'">Close</button>
        </div>
      </div>
    </div>
  </div>
      </tr>
      <% });%>

      <tr style="margin: 0 auto">
        <td colspan="12" style="text-align: center;"><% if (searchType ==""){%> <% if
          (pageCount > 1) { %>
          <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li><a href="/notice?page=1">&laquo;</a></li> <% } %> <% var i = 1; if
            (currentPage > 5) { i = +currentPage - 4; } %> <% if (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i; i<=pageCount;
            i++) { %> <% if (currentPage == i) { %>
            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
            <li><a href="/notice?page=<%= i %>"><%= i %></a></li> <% } %> <% if (i ==
            (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
            (currentPage != pageCount) { %>
            <li><a href="/notice?page=<%= pageCount %>">&raquo;</a></li> <% } %>
          </ul> <% } %> <%}%> <% if (searchType !=""){ %> <% if (pageCount > 1) { %>
          <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li><a
              href="/notice?page=1&searchType=<%=searchType%>&value=<%=searchValue%>">&laquo;</a></li>
            <% } %> <% var i = 1; if (currentPage > 5) { i = +currentPage - 4; } %> <% if
            (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i; i<=pageCount;
            i++) { %> <% if (currentPage == i) { %>
            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
            <li><a
              href="/notice?page=<%= i %>&searchType=<%=searchType%>&value=<%=searchValue%>"><%=
                i %></a></li> <% } %> <% if (i == (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
            (currentPage != pageCount) { %>
            <li><a
              href="/notice?page=<%= pageCount %>&searchType=<%=searchType%>&value=<%=searchValue%>">&raquo;</a></li>
            <% } %>
          </ul> <% } %> <%}%>
        </td>
      </tr>
    </tbody>
  </table>
 
</div>
<% include footer.ejs %>
>>>>>>> branch 'master' of https://github.com/skykosta/final-project.git
