 <% include header.ejs %>
 <link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<style>
thead {
	background-color: #333;
	color: #66ef46;
}

.modal-title {
	width: 100%;
}
</style>
<div style="margin-top: 130px;">
  <div class="container" style="text-align: center; margin-bottom: 50px">
    <%if(userid=="admin"){%>
    <button type="button" class="btn icon-btn btn-success" data-toggle="modal"
      data-target="#noticeadd">
      <span></span>공지사항등록
      
    </button>
    
    <%}%> <a class="btn icon-btn btn-info" href="notice"><span></span>공지사항</a> <a
      class="btn icon-btn btn-warning" href="fnq"><span></span>자주묻는 질문</a> <a
      class="btn icon-btn btn-danger" id="conButton"><span></span>contact us</a>
  </div>

<div style="background-color: rgb(175, 207, 167); width: 90em; height:78em; margin: auto">
  <div class="container" style="margin-top: 2em;">
    <br>
    <br>
    <br>
    <h1 style="margin-left: 14em; color: white;">공지사항</h1>
    <h3 class="section-subheading text-muted" style="color: grey; margin-left: 10em">공지사항을 확인하시면 ZUP을 더 편리하게 이용하실 수 있습니다:-)</h3>
   
    <br>
    <br>
    <!-- Article Add Modal -->
    <div class="modal fade" id="noticeadd" role="dialog">
      <div class="modal-dialog">

        <!-- Article Add Modal content-->
        <form method="post">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>공지사항등록</h3>
              <input type="text" class="modal-title" name="title" placeholder="제목을 입력해주세요"
                required>
            </div>
            <div class="modal-body">
              <textarea class="modal-title" name="content" placeholder="내용을 입력해주세요"
                rows="10" required></textarea>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">등록</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NO.</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(item, index){%>
        <tr data-toggle="modal" data-target="#myModal<%= index%>" data-backdrop="static"
          data-keyboard="false">
          <td><%= item.article_num%></td>
          <td><a href="#" style="color: #111;"><%= item.article_title%></a></td>
          <td><%= item.article_writer%></td>
          <td><%= moment(item.articledate).format('YYYY-MM-DD hh:mm:ss')%></td>
          <td><%= item.article_viewpoint%></td>

          <!-- Article Modal -->
          <div class="modal fade" id="myModal<%= index%>" role="dialog">
            <div class="modal-dialog">

              <!-- Article Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"
                    onclick="location.href='noticecount?article_num=<%=item.article_num%>'">&times;</button>
                  <h4 class="modal-title"><%=item.article_title %></h4>
                </div>
                <form method="post">
                  <div class="modal-body">
                    <pre class="modal-title"><%=item.article_content %></pre>
                    <input type="hidden" name="article_num" value="<%=item.article_num%>">
                    <%if(userid=="admin"){%>
                    <button type="button" class="btn btn-primary"
                      onclick="location.href='noticeedit?article_num=<%=item.article_num%>'">수정</button>
                    <button type="button" class="btn btn-danger"
                      onclick="location.href='noticedelete?article_num=<%=item.article_num%>'">삭제</button>
                    <%}%>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                    onclick="location.href='noticecount?article_num=<%=item.article_num%>'">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% });%>

        <tr style="margin: 0 auto">
          <td colspan="12" style="text-align: center;"><% if (searchType ==""){%> <%
            if (pageCount > 1) { %>
            <ul class="pagination">
              <% if (currentPage > 1) { %>
              <li><a href="/notice?page=1">&laquo;</a></li> <% } %> <% var i = 1; if
              (currentPage > 5) { i = +currentPage - 4; } %> <% if (i !== 1) { %>
              <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i;
              i<=pageCount; i++) { %> <% if (currentPage == i) { %>
              <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
              <% } else { %>
              <li><a href="/notice?page=<%= i %>"><%= i %></a></li> <% } %> <% if (i ==
              (+currentPage + 4)) { %>
              <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
              (currentPage != pageCount) { %>
              <li><a href="/notice?page=<%= pageCount %>">&raquo;</a></li> <% } %>
            </ul> <% } %> <%}%> <% if (searchType !=""){ %> <% if (pageCount > 1) { %>
            <ul class="pagination">
              <% if (currentPage > 1) { %>
              <li><a
                href="/notice?page=1&searchType=<%=searchType%>&value=<%=searchValue%>">&laquo;</a></li>
              <% } %> <% var i = 1; if (currentPage > 5) { i = +currentPage - 4; } %> <%
              if (i !== 1) { %>
              <li class="disabled"><a href="#">...</a></li> <% } %> <% for (i;
              i<=pageCount; i++) { %> <% if (currentPage == i) { %>
              <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
              <% } else { %>
              <li><a
                href="/notice?page=<%= i %>&searchType=<%=searchType%>&value=<%=searchValue%>"><%=
                  i %></a></li> <% } %> <% if (i == (+currentPage + 4)) { %>
              <li class="disabled"><a href="#">...</a></li> <% break; } %> <% } %> <% if
              (currentPage != pageCount) { %>
              <li><a
                href="/notice?page=<%= pageCount %>&searchType=<%=searchType%>&value=<%=searchValue%>">&raquo;</a></li>
              <% } %>
            </ul> <% } %> <%}%>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>
</div>

<!--  로그인시 컨텍트어스 가기 -->
<script type="text/javascript">
	window.onload = function() {
		var button = document.getElementById('conButton');

		//컨텍트어스	
		button.onclick = function() {
			var id = "<%= sessionId%>";

			if (id == "") {
				swal({
					title : '잠시만!',
					text : '먼저 로그인을 해주세요!',
					type : 'warning'
				})

			} else {
				location.href = "contact"
			}

		}

	};
</script>

<br>

<br>
<br>
<br>
<br>
<% include footer.ejs %>
