<head>
<meta charset="UTF-8">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.logo {
	width: 10%;
	height: 10%;
}

.inner {
	white-space: nowrap;
}

img {
	text-align: left;
}

.btn-glyphicon {
	padding: 8px;
	background: #ffffff;
	margin-right: 4px;
}

.icon-btn {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.panel {
	text-align: center;
	/* background-color: green; */
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}

.canceltext {
	width: 90%;
}
.modal-title{
	width: 100%;
}
</style>
<title>관리자페이지</title>
</head>
<body>
  <div class="container">
    <img src="/stylesheets/img/logo.png" class="logo">
    <h2>고객센터</h2>
    <hr>

  </div>
  <div class="container" style="text-align: center; margin-bottom: 50px">
  <button type="button" class="btn icon-btn btn-success" data-toggle="modal" data-target="#noticeadd"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success" ></span>공지사항등록</button>
  <a class="btn icon-btn btn-info" href="notice"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>공지사항</a>
  <a class="btn icon-btn btn-warning" href="fnq"><span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>자주묻는 질문</a>
  <a class="btn icon-btn btn-danger" href="total"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>contact us</a>
  </div>
  <div class="container">
          <!-- Article Add Modal -->
          <div class="modal fade" id="noticeadd" role="dialog">
            <div class="modal-dialog">
            
              <!-- Article Add Modal content-->
              <form method="post">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3>공지사항등록</h3>
                  <input type="text" class="modal-title" name="title" placeholder="제목을 입력해주세요">
                </div>
                <div class="modal-body">
                  <textarea class="modal-title" name="content" placeholder="내용을 입력해주세요" rows="10"></textarea>
                </div>
                </form>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" >등록</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NO.</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
       	<% data.forEach(function(item, index){%>
        <tr data-toggle="modal" data-target="#myModal<%= index%>" data-backdrop="static" data-keyboard="false">
          <td><%= item.article_num%></td>
          <td><%= item.article_title%></td>
          <td><%= item.article_writer%></td>
          <td><%= moment(item.articledate).format('YYYY-MM-DD hh:mm:ss')%></td>
          <td><%= item.article_viewpoint%></td>

          <!-- Article Modal -->
          <div class="modal fade" id="myModal<%= index%>" role="dialog">
            <div class="modal-dialog">
            
              <!-- Article Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" onclick="location.href='noticecount?article_num=<%=item.article_num%>'">&times;</button>
                  <h4 class="modal-title"><%=item.article_title %></h4>
                </div>
                <form method="post">
                <div class="modal-body">
                  <h4 class="modal-title"><%=item.article_content %></h4>
                  <input type="hidden" name="article_num" value="<%=item.article_num%>"> 
                  <button type="button" class="btn btn-primary" onclick="location.href='noticeedit?article_num=<%=item.article_num%>'">수정</button>
                  <button type="button" class="btn btn-danger" onclick="location.href='noticedelete?article_num=<%=item.article_num%>'">삭제</button>
                </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='noticecount?article_num=<%=item.article_num%>'">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% });%>
        
     <tr style="margin: 0 auto">
          <td colspan="12" style="text-align: center;">
          <% if (searchType ==""){%>
          <% if (pageCount > 1) { %>  
			<ul class="pagination">  
			  <% if (currentPage > 1) { %>
			      <li><a href="/notice1?page=1">&laquo;</a></li>
			  <% } %>
			  <% var i = 1;
			  if (currentPage > 5) {
			  i = +currentPage - 4;
			  } %>
			  <% if (i !== 1) { %>
			      <li class="disabled"><a href="#">...</a></li>
			  <% } %>
			  <% for (i; i<=pageCount; i++) { %>
			    <% if (currentPage == i) { %>
			        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
			    <% } else { %>
			        <li><a href="/notice1?page=<%= i %>"><%= i %></a></li>
			    <% } %>
			    <% if (i == (+currentPage + 4)) { %>
			        <li class="disabled"><a href="#">...</a></li>
			    <% break; } %>
			  <% } %>
			  <% if (currentPage != pageCount) { %>
			      <li><a href="/notice1?page=<%= pageCount %>">&raquo;</a></li>
			  <% } %>
			</ul>  
			<% } %>  
          <%}%>
           <% if (searchType !=""){
           %>
         	<% if (pageCount > 1) { %>  
			<ul class="pagination">  
			  <% if (currentPage > 1) { %>
			      <li><a href="/notice1?page=1&searchType=<%=searchType%>&value=<%=searchValue%>">&laquo;</a></li>
			  <% } %>
			  <% var i = 1;
			  if (currentPage > 5) {
			  i = +currentPage - 4;
			  } %>
			  <% if (i !== 1) { %>
			      <li class="disabled"><a href="#">...</a></li>
			  <% } %>
			  <% for (i; i<=pageCount; i++) { %>
			    <% if (currentPage == i) { %>
			        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
			    <% } else { %>
			        <li><a href="/notice1?page=<%= i %>&searchType=<%=searchType%>&value=<%=searchValue%>"><%= i %></a></li>
			    <% } %>
			    <% if (i == (+currentPage + 4)) { %>
			        <li class="disabled"><a href="#">...</a></li>
			    <% break; } %>
			  <% } %>
			  <% if (currentPage != pageCount) { %>
			      <li><a href="/notice1?page=<%= pageCount %>&searchType=<%=searchType%>&value=<%=searchValue%>">&raquo;</a></li>
			  <% } %>
			</ul>  
			<% } %>  
			<%}%>
          </td>
        </tr>
      </tbody>
    </table>
    <form name="search" class="form-inline" role="form" style="float: left;">
    
      <div class="form-group">
        <select class="form-control" id="type" name="searchType">
          <option value="writer">작성자</option>
          <option value="title">제목</option>
          <option value="content">글내용</option>
        </select> 
        <input type="text" class="form-control" id="value" name="value" value="<%=searchValue%>" required>
      </div>
      <button type="submit" id="searchBtn" class="btn btn-primary">검색</button>
    </form>
  </div>
</body>
