<head>
<meta charset="UTF-8">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.logo {
	width: 10%;
	height: 10%;
}

.inner {
	white-space: nowrap;
}

img {
	text-align: left;
}

.btn-glyphicon {
	padding: 8px;
	background: #ffffff;
	margin-right: 4px;
}

.icon-btn {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.panel {
	text-align: center;
	/* background-color: green; */
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}

.canceltext {
	width: 90%;
}
</style>
<title>관리자페이지</title>
</head>
<body>
  <div class="container">
    <img src="/stylesheets/img/logo.png" class="logo">
    <h2>관리자페이지</h2>
    <hr>

  </div>
  <div class="container" style="text-align: center; margin-bottom: 50px">
    <a class="btn icon-btn btn-info" href="order"><span
      class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>접수관리</a>
    <a class="btn icon-btn btn-warning" href="user"><span
      class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>회원관리</a>
    <a class="btn icon-btn btn-danger" href="total"><span
      class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>회수현황</a>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>고객이름</th>
          <th>전화번호</th>
          <th>고객주소</th>
          <th>줍맨이름</th>
          <th>줍맨번호</th>
          <th>회수정보</th>
          <th>회수현황</th>
          <th>취소하기<%=count%></th>
        </tr>
      </thead>
      <tbody>
       	<% data.forEach(function(item, index){%>
        <tr>
          <td><%= item.bottlelist_num%></td>
          <td><%= item.user_name%></td>
          <td><%= item.user_phonenum%></td>
          <td><%= item.user_address%></td>
          <td><%= item.employee_name%></td>
          <td><%= item.employee_phonenum%></td>
          <td><%= item.bottle_name+item.bottle_amount%>병</td>
          <td><%= item.return_status%></td>
          <td><button type="button" class="btn btn-danger"
              data-toggle="modal" data-target="#myModal">취소하기</button></td>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%=item.user_name %>님의 접수를 취소하시려면 취소사유를
                    입력하고 취소버튼을 눌러주세요.</h4>
                </div>
                <div class="modal-body">
                  <input type="text" placeholder="취소사유를 입력해주세요."
                    class="canceltext">
                  <button type="button" class="btn btn-danger">취소</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% });%>
        
        <tr style="margin: 0 auto">
          <td colspan="12" style="text-align: center;">
            <ul class="pagination">
              <li><a href="#"><<</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">>></a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <form name="search" class="form-inline" role="form"
      style="float: left;">
      <div class="form-group">
        <select class="form-control" id="type" name="type">
          <option value="writer">접수번호</option>
          <option value="article_id">고객이름</option>
          <option value="subject">고객번호</option>
        </select> <input type="text" class="form-control" id="value" name="value"
          required>
      </div>
      <button type="submit" class="btn btn-primary">검색</button>
    </form>
  </div>
</body>
