<head>
<meta charset="UTF-8">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.logo {
	width: 10%;
	height: 10%;
}

.inner {
	white-space: nowrap;
}

img {
	text-align: left;
}

.btn-glyphicon {
	padding: 8px;
	background: #ffffff;
	margin-right: 4px;
}

.icon-btn {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.panel {
	text-align: center;
	/* background-color: green; */
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}

.canceltext {
	width: 90%;
}
</style>
<title>ZUP_관리자페이지</title>
</head>
<body>
 <% include header.ejs %>

  </div>
  <div class="container" style="text-align: center; margin-bottom: 50px">
  <a class="btn icon-btn btn-success" href="order"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>접수관리</a>
  <a class="btn icon-btn btn-info" href="orderresult"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>회수관리</a>
  <a class="btn icon-btn btn-warning" href="user"><span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>회원관리</a>
  <a class="btn icon-btn btn-danger" href="total"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>회수현황</a>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>고객이름</th>
          <th>전화번호</th>
          <th>고객주소</th>
          <th>줍맨이름</th>
          <th>줍맨번호</th>
          <th>회수정보</th>
          <th>회수현황</th>
        </tr>
      </thead>
      <tbody>
       	<% data.forEach(function(item, index){%>
        <tr>
          <td><%= item.bottlelist_num%></td>
          <td><%= item.user_name%></td>
          <td><%= item.user_phonenum%></td>
          <td><%= item.user_address%></td>
          <td><%= item.employee_name%></td>
          <td><%= item.employee_phonenum%></td>
          <td><%= item.bottle_name+item.bottle_amount%>병</td>
          <td><%= item.return_status%></td>
          </div>
        </tr>
        <% });%>
        
     <tr style="margin: 0 auto">
          <td colspan="12" style="text-align: center;">
          <% if (searchType ==""){%>
          <% if (pageCount > 1) { %>  
			<ul class="pagination">  
			  <% if (currentPage > 1) { %>
			      <li><a href="/orderresult?page=1">&laquo;</a></li>
			  <% } %>
			  <% var i = 1;
			  if (currentPage > 5) {
			  i = +currentPage - 4;
			  } %>
			  <% if (i !== 1) { %>
			      <li class="disabled"><a href="#">...</a></li>
			  <% } %>
			  <% for (i; i<=pageCount; i++) { %>
			    <% if (currentPage == i) { %>
			        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
			    <% } else { %>
			        <li><a href="/orderresult?page=<%= i %>"><%= i %></a></li>
			    <% } %>
			    <% if (i == (+currentPage + 4)) { %>
			        <li class="disabled"><a href="#">...</a></li>
			    <% break; } %>
			  <% } %>
			  <% if (currentPage != pageCount) { %>
			      <li><a href="/orderresult?page=<%= pageCount %>">&raquo;</a></li>
			  <% } %>
			</ul>  
			<% } %>  
          <%}%>
           <% if (searchType !=""){
           %>
         	<% if (pageCount > 1) { %>  
			<ul class="pagination">  
			  <% if (currentPage > 1) { %>
			      <li><a href="/orderresult?page=1&searchType=<%=searchType%>&value=<%=searchValue%>">&laquo;</a></li>
			  <% } %>
			  <% var i = 1;
			  if (currentPage > 5) {
			  i = +currentPage - 4;
			  } %>
			  <% if (i !== 1) { %>
			      <li class="disabled"><a href="#">...</a></li>
			  <% } %>
			  <% for (i; i<=pageCount; i++) { %>
			    <% if (currentPage == i) { %>
			        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
			    <% } else { %>
			        <li><a href="/orderresult?page=<%= i %>&searchType=<%=searchType%>&value=<%=searchValue%>"><%= i %></a></li>
			    <% } %>
			    <% if (i == (+currentPage + 4)) { %>
			        <li class="disabled"><a href="#">...</a></li>
			    <% break; } %>
			  <% } %>
			  <% if (currentPage != pageCount) { %>
			      <li><a href="/orderresult?page=<%= pageCount %>&searchType=<%=searchType%>&value=<%=searchValue%>">&raquo;</a></li>
			  <% } %>
			</ul>  
			<% } %>  
			<%}%>
          </td>
        </tr>
      </tbody>
    </table>
    <form name="search" class="form-inline" role="form" style="float: left;">
      <div class="form-group">
        <select class="form-control" id="type" name="searchType">
          <option value="bn">접수번호</option>
          <option value="un">고객이름</option>
          <option value="up">고객전화번호</option>
        </select> 
        <input type="text" class="form-control" id="value" name="value" value="<%=searchValue%>" required>
      </div>
      <button type="submit" id="searchBtn" class="btn btn-primary">검색</button>
    </form>
  </div>
  <% include footer.ejs %>
</body>
